Host github.com
    Hostname github.com
    IdentityFile ~/.ssh/id_rsa_personal
    IdentitiesOnly yes
Host git.housecanary.net
    Hostname git.housecanary.net
    IdentityFile ~/.ssh/id_rsa_housecanary.com
    IdentitiesOnly yes